

.canvasclass {
    width: 200px;
    height: 140px;
    background-color: blue;
    border-style: ridge;
}

.buttonclass {
  background-color: white;
  width: 200px;
  height: 40px;
  position: absolute;
  left: 200px;
  top: 240px;
  font-family: sans-serif;
  font-size: large;
  border-radius: 10px;
  box-shadow: 2px 2px dimgrey;
}

.inputclass {
  background-color: white;
  width: 120px;
  height: 60px;
  position: absolute;
  left: 20px;
  top: 240px;
  font-family: sans-serif;
  font-size: large;
  box-shadow: 2px 2px dimgrey;
}
