

.canvasclass {
    width: 200px;
    height: 140px;
    background-color: blue;
    border-style: ridge;
}

.labelclass {
  background-color: white;
  height: 40px;
  position: absolute;
  left: 20px;
  top: 240px;
  font-family: sans-serif;
  font-size: large;
  vertical-align: middle;
}

.inputclass {
  background-color: white;
  width: 160px;
  height: 40px;
  padding-left: 8px;
  position: absolute;
  left: 110px;
  top: 240px;
  font-family: sans-serif;
  font-size: large;
  box-shadow: 2px 2px dimgrey;
}

.buttonclass {
  background-color: grey;
  width: 100px;
  height: 46px;
  position: absolute;
  left: 300px;
  top: 240px;
  font-family: sans-serif;
  font-size: large;
  border-radius: 8px;
  box-shadow: 2px 2px dimgrey;
}
