h1 {
  font-family: sans-serif;
}

.canvasclass {
    width: 200px;
    background-color: blue;
    border-style: ridge;
}

.imageselect {
  position: float;
  width: 90%;
}

.fileselect {
  background-color: #E0E0E0;
  width: 50%;
  height: 30px;
  padding-left: 8px;
  position: relative;
  font-family: sans-serif;
  font-size: medium;
  box-shadow: 2px 2px dimgrey;
  ac
}

.buttonclass {
  background-color: grey;
  width: 100px;
  height: 24px;
  position: relative;
  font-family: sans-serif;
  font-size: large;
  border-radius: 8px;
  box-shadow: 2px 2px dimgrey;
}
